.login-popup{
  display: flex;
}
form{
    display: flexbox;
    margin-left: 60px;
    
}
#carouselExampleCaptions{
    width: 500px;
    height: 300px;
    margin-left: 50px;
    margin-top: 50px;
}
.carousel-inner {
  position: relative;
  width: 80%;
  overflow: hidden;
}
a {
  font-weight: bold;
  color: red;
  text-decoration: solid;
}